@media screen and (max-width: 900px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex; /* Show hamburger nav */
      }
    #hamburger-nav .menu-links li a {
        white-space: nowrap; /* Prevent text from breaking into multiple lines */
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 760px) {
    .cases__container {
        grid-template-columns: 1fr; /* Change to a single column layout */
        gap: 20px; /* Adjust the gap between images as needed */
        margin-bottom:4vw;
        width: 40%;
        min-width: 400px;
      }
    }