@media screen and (max-width: 900px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex; 
    }
    #hamburger-nav .menu-links li a {
        white-space: nowrap; 
    }
}



@media screen and (max-width: 768px) {
    .cases__container {
        grid-template-columns: 1fr; 
        gap: 20px; 
        margin-bottom:60px;
        margin-top: 10px;
        width: 80%;
        min-width:65vw;
    }

    .cases__image-container {
      position: relative;
      width: 100%;
      overflow: hidden; 
      max-height: 300px;
      max-width: 750px;
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  
    .cases__text {
      position: absolute;
      top: 30px; 
      left: 10px; 
      color: white; 
      padding: 5px 10px; 
    }

    .cases__text-title {
      position: absolute;
      top: 90px;
      color: white;
      font-size: 30px;
      font-family: "Raleway", serif;
      font-weight: 660;
      line-height: 98%;
      width: 115%;
    }

    #cases2 {
      display: flex;
      justify-content: center;
      background-color: rgb(246, 246, 246);
      height: auto;
    }
  }



  /*ILLUSTRATION PAGE*/

@media (min-width: 1224px) {
  .illustration-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 350px;
  }
}

@media (max-width: 660px) {
  .illustration-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .illustrations__text-container {
    padding-left: 50px;
    padding-right: 50px;
}
}



/*ABOUT ME PAGE*/

@media (max-width: 660px) {
  .aboutme__container {
    flex-direction: column; 
    align-items: center; 
    padding-left: 50px;
    padding-right: 50px;
  }

  .aboutme__text {
    padding-right: 0px;
    margin-bottom: 70px;
  }

  .about__pic-container {
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin-bottom: 50px;
  }

  .about__pic-container img:nth-child(1) {
    width: 130px; 
  }

  .about__pic-container img:nth-child(2) {
    width: 168px;
    margin-top: 10px;
    margin-right: -10px;
  } 

  .about__pic-container img:nth-child(3) {
    width: 195px; 
  }
  .about__pic-container img:hover {
    transform: scale(1.2);
    z-index: 1004;
  }
}


/*BRUSHIESE PAGE*/

@media screen and (max-width: 700px) {
  .casestudysection {
    margin-left: 50px;
    margin-right: 50px;
  }
  .casestudy__top {
    margin-left: 50px;
    margin-right: 50px;
  }
  .vertical-nav {
    display: none;
  }
  .casestudy__positions-container {
    display: flex;
    gap: 35px;
    justify-content: left;
    align-items: flex-start;
  }
  .casestudy__step1 {
    margin-left: 8vw;
    translate: 0 85px;
    opacity: 30%;
    z-index: -1;
  }
  .casestudy__steptitle, .casestudy__steptitle, .casestudy__steptitlew {
    font-size: 1.8rem;
  }
  .casestudy__mediumtext, .casestudy__mediumtextdesign, .casestudy__mediumtextw, .casestudy__mediumtextw2, .casestudy__mediumtextheaderw, .casestudy__mediumtextheaderw2{
    font-size: 1.3rem;
  }
   .casestudy__smalltext,.casestudy__smalltext2, .casestudy__smalltext2_1, .casestudy__smalltextw, .casestudy__smalltextw2, .casestudy__smalltextw3, .casestudy__smalltextw4 {
    font-size: .84rem;
    line-height: 140%;
   }
   .casestudy__middletextbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 100%;
    align-items: top;
  }
  .asteriskw,
  .asteriskw2 {
    display: none;
  }
  #prev-btn {
    display: none;
  }
  
  #next-btn {
    display: none;
  }

  .bigtitleright,
  .bigtitlebluesky,
  .bigtitlebluesky2,
  .bigtitleright2 {
    margin-right: 30px;
  }

  .bigtitleleft {
    margin-left: 30px;
  }

}