@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend", serif;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between; /* Distribute space between logo and nav links */
  align-items: center; /* Center items vertically */
  position:absolute; /* Position the nav fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  background: transparent; /* Ensure the background is transparent */
  z-index: 1000; /* Ensure the nav is above other elements */
  transition: background-color 0.2s ease-in-out; /* Smooth transition for the background color */
}

nav.scrolled {
  background-color: white; /* Change the background color to white */
}

nav.scrolled a {
  color: black; /* Change the text color to black */
}

nav.scrolled .logo {
  color: black; /* Change the logo color to black */
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
  margin-right: 35px; /* Align the nav links 50px from the right */
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  margin-left: 35px; /* Align the logo 50px from the left */
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
  align-items: center;
  background: transparent; /* Ensure the background is transparent */
  transition: background-color 0.2s ease-in-out; /* Smooth transition for the background color */
}

#hamburger-nav.scrolled {
  background-color: white; /* Change the background color to white */
}

#hamburger-nav.scrolled a {
  color: black; /* Change the text color to black */
}

#hamburger-nav.scrolled .logo {
  color: black; /* Change the logo color to black */
}

nav.scrolled .hamburger-icon span {
  background-color: black; /* Change the hamburger icon color to black */
}


.hamburger-menu {
  position: relative;
  display: inline-block;
  margin-right: 35px;
}

.hamburger-icon {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 90%;
  height: 3px;
  background-color: white;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 140%;
  right: 0%;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 5px 10px; /* Adjust the padding as needed */
  text-align: left;
  color: white;
  text-decoration: none;
}
.menu-links a:hover {
  color: grey;
  text-decoration: underline;
  text-decoration-color: rgb(181, 181, 181);
}

.menu-links li {
  list-style: none;
  margin: 0; /* Remove margin to reduce gap */
}

.menu-links.open {
  max-height: 500px;
}

.menu-links.open a {
  padding: 2px 10px; /* Adjust the padding as needed */
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.menu-links {
  transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
}

.menu-links.open {
  transform: translateY(0);
  opacity: 1;
}

.hamburger-icon {
  transition: transform 0.3s ease-in-out;
}

.hamburger-icon.open {
  transform: rotate(90deg);
}

nav.scrolled .logo.hamburger-open {
  margin-bottom: 60px !important; /* Use !important to override other styles if necessary */
}

.profile-section {
  transition: margin-top 0.4s ease-in-out; /* Add transition for margin-top */
}





/*PROFILE STUFF*/
#profile .section__pic-container {
  
  display: flex;
  top: -20px;
  transform-origin: top;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide any overflow content */
  margin-bottom: 2vw;
}

#profile .section__pic-container img {
  width: 100%; /* Ensure the image spans the full width */
  height: auto; /* Maintain the aspect ratio */
  filter: brightness(50%);

}

.section__pic-container {
  width: 100%; /* Ensure the container spans the full width */
  overflow: hidden; /* Hide any overflow content */
  transform-origin: center; /* Default transform origin */
  
}

.section__pic-container img {
  width: 100%; /* Ensure the image spans the full width */
  height: auto; /* Maintain the aspect ratio */
  min-height: 720px;
  max-height: 1100px;
  object-fit: cover;
  
}

.section__pic-container {
  transform-origin: top; /* Ensure the origin point is set to the top */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  transition: transform 0.05s ease;
}

#profile {
  position: relative;
  text-align: center;
}

#profile .section__pic-container {
  position: relative;
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

#profile .section__text {
  position: absolute;
  top: 46.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* This should apply to all text within this container */
  width: 75%;
  max-width: 1000px;
  text-align: center;
}
#profile .section__text__p1 {
  line-height: 1.1;
  margin-bottom: 5vw;
  font-size: clamp(33px, 4.5vw, 70px);
  
}

#profile .section__text__p2 {
  font-size: clamp(12px, 1.7vw, 26px);
  margin-bottom: 25px;
  margin-top: 40px;
  font-weight: 350;
}

#profile .section__text__p1,
#profile .section__text__p2 {
  padding: 0;
  color: white;
}

#profile .section__companies {
  position: absolute;
  /* Adjust the top value to move the images down */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center; 
  margin-top: 2.5vw;
  gap: 1.6vw; /* Adjust the gap between images as needed */
}


#profile .section__companies img:hover {
  opacity: 0.6; /* Set the opacity to 80% on hover */
  cursor: pointer;
}

@keyframes jiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

#profile .section__companies img:hover {
  animation: jiggle 0.7s cubic-bezier(0.42, 0, 0.58, 1); /* Refined easing for smoother animation */
}

#profile .section__companies .logo-large {
  width: 10vw; /* Adjust the size of the larger logos as needed */
  min-width: 95px;
  max-width: 150px;
}

#profile .section__companies .logo-small {
  width: 6vw; /* Adjust the size of the smaller logos as needed */
  min-width: 60px;
  max-width: 110px;
}

#profile .section__companies .logo-tiny {
  width: 4vw;
 min-width: 40px;
 max-width: 70px;
}
#profile .section__companies img {
  object-fit: contain;
}

/*PROJECT SECTION*/


#projects .projects-content {
  max-width: 1200px;
  margin: 0 auto;
}


/*CASES BRUSHIES*/


#cases {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Optional: Set a background color */
}

.cases__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px; /* Adjust the gap between images as needed */
  width: 90%; /* Adjust the width as needed */
  max-width: 1200px; /* Optional: Set a maximum width for the grid */
  margin-bottom: 90px;
  margin-top: 40px;
}

.cases__image-container {
  position: relative;
  width: 100%;
  overflow: hidden; /* Hide overflow to keep the container size constant */
  max-height: 330px;
  max-width: 650px;
  min-height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cases__image {
  width: 100%; /* Make the image take up the full width of the container */
  height: 100%; /* Ensure the image covers the container */
  object-fit: cover; /* Ensure the image covers the container */
  transition: transform 0.4s ease-in-out, filter 0.35s ease-in-out; /* Add transition for smooth animation */
  filter: brightness(70%);
}

.cases__image-container:hover .cases__image {
  transform: scale(1.10); /* Slightly zoom in the image */
  filter: brightness(40%);
  cursor: pointer;
}

.cases__text {
  position: absolute;
  top: 30px; /* Adjust the position as needed */
  left: 20px; /* Adjust the position as needed */
  color: white; /* Adjust the text color as needed */
  padding: 5px 10px; /* Adjust the padding as needed */
}

.cases__logo {
  max-width: 150px; /* Adjust the size of the logo as needed */
  height: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.cases__logo-BS {
  max-width: 139px; /* Adjust the size of the logo as needed */
  height: auto;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.5)); /* Adjusted drop shadow */
  filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.5)); /* Adjusted drop shadow */
}

.cases__text-position {
  width: 200%;
  position: absolute;
  top: 48px; /* Adjust the position as needed */
  color: white; /* Adjust the text color as needed */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
  font-size: 12px;
  font-weight: 250;
  opacity: 70%;
}

.cases__text-title {
  position: absolute;
  top: 100px; /* Adjust the position as needed */
  color: white; /* Adjust the text color as needed */
  font-size: 35px;
  font-family: "Raleway", serif;
  font-weight: 700;
  line-height: 95%;
  width: 130%;
}

.cases__text-title {
  transition: opacity 0.2s ease-in-out; /* Add transition for smooth animation */
}

.cases__text-title:hover {
  cursor: pointer;
  opacity: 0.7; /* Set the opacity value */
}

/*RESUME SECTIONNOT IN USE RN*/ 
.cv-illustration-content {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center buttons horizontally */
  gap: 16px; /* Adjust the gap between buttons as needed */
  margin-top: 8vw; /* Adjust the margin as needed */
  margin-bottom: 80px; /* Adjust the margin as needed */
}

.button {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  color: black; /* Adjust text color as needed */
  background-color: white; /* Adjust background color as needed */
  text-decoration: none; /* Remove underline */
  border: 2px solid black; /* Add black outline */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

.button:hover {
  background-color: black; /* Adjust hover background color as needed */
  color: white; /* Adjust hover text color as needed */
}
/*FOOTER*/
.footer__logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__letsconnect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: .6vw;
  color: black;
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
}

.footer__email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: #0e5aab;
  text-decoration-color: #0e5aab;
  font-family: "Lexend", serif;
  font-size: 14px;
  font-weight: 250;
}

.footer__email:hover {
  color: #0e5aab; /* Ensure the text color remains the same on hover */
  text-decoration: underline; /* Ensure the underline remains on hover */
  text-decoration-color: #0e5aab; /* Match underline color to text color on hover */
}

.footer__logo {
  width: 23px; /* Set the width of the logos */
  margin:10px; /* Add horizontal margin for spacing */
  margin-bottom: 40px;
} 

.footer__line {
  width: calc(100% - 60px); /* Adjust the width to account for the padding */
  border: none; /* Remove default border */
  border-top: 1.53px solid #b8b8b8; /* Add a thin top border */
  margin: 40px auto; /* Center the line and add vertical margin */
}

.rights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Lexend", serif;
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 270;
}









/*ABOUT ME SECTION*/
.about__pic-container {
  margin-top: 50px; /* Adjust the margin as needed to move the picture down */
  position: relative;
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space items evenly */
  overflow: hidden; /* Hide any overflow content */
  width: 100%; /* Ensure the container spans the full width */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.aboutme__image {
  width: 50%; /* Set the width to 50% to take up half the container */
  height: auto;
  display: block;
  padding: 4vw;
  margin-left: 4vw; /* Remove auto margin to align with the container */
}

.aboutme__text {
  width: 50%; /* Set the width to 50% to take up half the container */
  color: black;
  text-align: left;
  margin-right: 4vw;
}

/* ILLUSTRATION SECTION*/
.illustrations__text-container {
  text-align: left;
  padding-left: 80px;
  padding-right: 50px;
  margin-top: 30px; /* Adjust the margin as needed */
}

.illustration__text_title {
  font-size: 2.5rem; /* Adjust the font size as needed */
  color: black; /* Set the text color to black */
  line-height: 95%;
  margin: 0;
}

.illustration__text_sub {
  font-size: 1rem; /* Adjust the font size as needed */
  color: black; /* Set the text color to black */
  margin: 0;
  margin-top: 15px; /* Adjust the margin as needed */
  font-weight: 300;
}

.illustration__art {
  font-size: 1.05rem; /* Adjust the font size as needed */
  color: black; /* Set the text color to black */
  margin: 0;
  margin-top: 80px; /* Adjust the margin as needed */
  font-weight: 400;
}
.illustration__tools {
  font-size: .85rem; /* Adjust the font size as needed */
  color: grey; /* Set the text color to black */
  margin: 0;
  margin-top: 4px; /* Adjust the margin as needed */
  font-weight: 300;
  margin-bottom: 10px;
}
/*SIDE MENU*/
/***************/
.illustration-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Increase the minimum size */
  grid-auto-rows: 220px; /* Increase the row height */
  gap: 5px; /* Set the gap to 0 to remove spacing between grid items */
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.grid-item:hover img {
  cursor: zoom-in;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 20px; /* Add padding to ensure content does not touch the edges */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  flex-direction: column; /* Stack items vertically */
}

.modal-content {
  display: block;
  width: auto; /* Allow the width to adjust based on the image size */
  max-width: 80%; /* Ensure the image fits within the screen */
  max-height: 90vh; /* Ensure the image fits within the screen */
  margin: 0 auto; /* Center the content */
  padding: 0; /* Remove padding to ensure equal spacing */
  box-sizing: border-box; /* Include padding in the element's total width */
  overflow: auto; /* Make the content scrollable if necessary */
}

.modal-content img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image scales uniformly */
}

.caption {
  display: none; /* Hide the caption by default */
  color: white;
  text-align: center;
  font-size: .9rem;
  font-weight: 300;
  margin-top: 20px; /* Add some space above the caption */
  opacity: 60%;
}

.modal.show .caption {
  display: block; /* Show the caption when the modal is displayed */
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease;
  user-select: none;
  z-index: 1001; /* Ensure arrows are above the modal content */
}

.prev {
  left: 20px; /* Adjust to ensure it does not overlap with the content */
  border-radius: 3px 0 0 3px;
}

.next {
  right: 20px; /* Adjust to ensure it does not overlap with the content */
  border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
  text-decoration: none;
}

.illustrations__text-container2 {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px; /* Adjust the margin as needed */
}

.illustration-grid,
.illustration__text {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.illustration-grid.animate,
.illustration__text.animate {
  opacity: 1;
  transform: translateY(0);
}

/*black text section*/
.black-header .logo,
.black-header .nav-links a,
.black-header .hamburger-icon span,
.black-header .menu-links a {
  color: black; /* Set the text color to black */
}

.black-header .hamburger-icon span {
  background-color: black; /* Set the hamburger icon lines to black */
}


